@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  position: relative;
    position-line-height: auto;
    position-height: auto; }

body {
  font-family: "Arial", "微軟正黑體";
    font-family-font-size: 16px; }

a {
  text-decoration: none; }

img {
  height: auto;
  display: block; }

h1, h2, h3, h4, p, a, span, ul, li {
  margin: 0px;
  padding: 0px;
  color: #fff;
  line-height: auto; }

.container {
  width: 100%;
  margin: 0 auto; }

.header {
  width: 100%;
  background-color: #000000; }

.header-wrap {
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo {
  cursor: pointer; }
  .logo h1 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 16px 8px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav span {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    padding: 16px 20px;
    cursor: pointer; }

.main {
  width: 100%;
  background-color: #262626; }

.section-wrap {
  max-width: 760px;
  margin: 0 auto;
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.section-title-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 40px; }

.section-title {
  padding-right: 32px; }
  .section-title h2 {
    font-size: 32px; }

.dash {
  width: 100%;
  border-bottom: 1px dashed #595959; }

.col-2 {
  max-width: 360px;
  width: 100%;
  margin-bottom: 20px; }

.col-1 {
  max-width: 760px;
  width: 100%;
  margin-bottom: 20px; }

.avatar {
  width: 200px; }
  .avatar img {
    width: 100%; }

.title {
  margin: 16px 0px; }
  .title p {
    font-size: 32px;
    font-weight: bold;
    color: #e7e97c;
    letter-spacing: 1px; }

.subTitle {
  margin: 8px 0px; }
  .subTitle p {
    color: #e7e97c;
    font-size: 18px; }

.subTitle-wrap .subTitle {
  padding-bottom: 8px;
  border-bottom: 1px dashed #595959; }

.sub-content {
  paddin-top: 8px;
  padding-bottom: 16px; }
  .sub-content p {
    padding: 4px 0px; }

.years {
  padding-right: 16px;
  color: #fff; }

.company {
  color: #fff; }

.exp-wrap {
  margin-bottom: 16px; }

.list-wrap {
  margin-left: 20px; }
  .list-wrap ul {
    list-style-type: disc;
    color: #fff; }
  .list-wrap li {
    color: #d9d9d9;
    margin: 8px 0px;
    line-height: 20px; }
